$color-light: #FFFFFF;
$color-dark: #404040;
$color-black: #151515;
$color-grey: #f4f4f4;

$color-1: #3e3947; // dark purple
$color-2: #745360; // light purple
$color-3: #d88683; // pink
$color-4: #fff; // white

$font-general: 'Merriweather', serif;