.header{
    background-image: url("../../img/The-best-top-desktop-hd-dark-black-wallpapers-dark-black-wallpaper-dark-background-dark-wallpaper-25.jpg");
    background-size: cover;
    height: 100vh;
    margin: 0 auto;
    display: block;
    position: relative;
}

