.header{
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    z-index: 1000;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100vh;
    background-position: center center;
    background-size: cover;
}