.button{
    text-align: center;
    text-transform: uppercase;
    font-family: $font-general;
    font-size: 2rem !important;
    color: $color-dark ;
    background-color: white !important;
    border-radius: 2rem !important;
    height:  4.6rem;
    width:  26rem;
    position: relative;
    &__primary{
    }
}
