.button{
    text-align: center;
    margin-top: -15rem;
}

.btn{
    text-transform: uppercase;
    font-family: $font-general;
    font-size: 2rem !important;
    color: $color-dark ;
    background-color: white !important;
    border-radius: 2rem !important;
    height:  4.6rem;
    width:  26rem;
}