.card-description{
    border-left: 1px solid #ddd;
    &__img{
        height: 40rem;
        width: 40rem;
        display: block;
        margin: 0 auto;
    }
    &__title{
        font-family: $font-general;
        padding: 2.4rem 2.4rem 0 2.4rem;
        letter-spacing: 0.15rem;
    }
    &__text{
        font-family: $font-general;
        padding: 1.2rem 2.4rem 0 2.4rem;
        letter-spacing: 0.1rem;
    }
}