// Chứa các khởi tạo ban đầu của các elements, như *, body,..


*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul{
    list-style-type: none;
}

html,body{
    position: relative;
    margin: 0;
    width: 62,5%;
}

html {
    font-size: 10px;
    display: inline-block;
    scroll-behavior: smooth;
    // scroll-snap-type: mandatory;
    // scroll-snap-points-y: repeat(100vh);
    // scroll-snap-type: y mandatory;
}

body {
    box-sizing: border-box;
    letter-spacing: 0px;
    font-size: $font-general;
    font-weight: 400;
    line-height: 1.7;
    font-size: 1.6rem;
}

img,video {
    width: 100%;
    max-width: 100%;
}
