.section-about {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
    z-index: 100;
}

.section-contact {
    position: relative;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}


.section-introduce{
    margin-top: 20vh;
    margin-bottom: 10vh;
    margin-left: 8%;
    margin-right: 8%;
    &__button{
        display: block;
        margin: 4.6rem auto 0;
        text-align: center;
    }
    scroll-snap-align: start;
    padding: 7% 0;
}
