*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

ul {
  list-style-type: none; }

html, body {
  position: relative;
  margin: 0;
  width: 62,5%; }

html {
  font-size: 10px;
  display: inline-block;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box;
  letter-spacing: 0px;
  font-size: "Merriweather", serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: 1.6rem; }

img, video {
  width: 100%;
  max-width: 100%; }

::selection {
  background: #d3d3d3;
  color: #555; }

::-moz-selection {
  background: #d3d3d3;
  color: #555; }

::-webkit-selection {
  background: #d3d3d3;
  color: #555; }

@keyframes vehicleRun {
  0% {
    left: -25%; }
  100% {
    left: 100%; } }

.heading-primary {
  vertical-align: middle;
  text-align: center;
  color: #FFFFFF;
  font-family: "Merriweather", serif;
  font-size: 7rem;
  top: 50%;
  text-transform: uppercase;
  letter-spacing: .5rem;
  margin: 2rem 0; }

.header {
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100vh;
  scroll-snap-align: start;
  text-align: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  height: 100vh;
  background-position: center center;
  background-size: cover; }

.footer {
  scroll-snap-align: start; }
  .footer__top {
    background: url(//theme.hstatic.net/1000003443/1000386436/14/footer-bg.jpg?v=3413);
    bottom: 0;
    width: 100%;
    height: 26.6rem;
    overflow: hidden;
    position: relative; }
    .footer__top__bg {
      width: 10.6rem;
      height: 10.4rem;
      position: absolute;
      bottom: 0;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      animation-direction: normal;
      animation-fill-mode: none;
      animation-play-state: running;
      animation-name: vehicleRun; }
      .footer__top__bg--one {
        animation-duration: 22s;
        left: 40%;
        background: url(//theme.hstatic.net/1000003443/1000386436/14/icon-car.png?v=3413) no-repeat center center; }
      .footer__top__bg--two {
        animation-duration: 30s;
        left: 30%;
        background: url(//theme.hstatic.net/1000003443/1000386436/14/icon-bike.png?v=3413) no-repeat center center; }
  .footer__bottom {
    background-color: #f4f4f4;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family: "Merriweather", serif;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    text-align: center; }

.navigation {
  padding: 0rem 10rem !important;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 100000; }
  .navigation a {
    color: #FFFFFF !important; }
    .navigation a:hover {
      cursor: pointer;
      opacity: .7;
      text-decoration: none; }
  .navigation__item--left {
    text-align: left; }
  .navigation__item--center {
    text-align: center; }
  .navigation__item--right {
    text-align: right; }
  .navigation__border {
    background-color: white;
    height: .05rem;
    width: 85%;
    margin: 0 auto; }
  .navigation__logo {
    transform: translateY(-30%);
    width: 8rem;
    height: 10rem;
    margin: 0 auto;
    display: block;
    background-image: url("../../img/LogoWhite.png");
    background-size: cover; }

.navigation-scroll {
  padding: 1rem 10rem !important;
  font-size: 1.5rem;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  font-family: "Merriweather", serif;
  position: fixed;
  margin: 0 auto;
  top: 0;
  width: 100%;
  z-index: 10000;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 0%); }
  .navigation-scroll a {
    color: #FFFFFF !important; }
    .navigation-scroll a:hover {
      cursor: pointer;
      opacity: .7;
      text-decoration: none; }
  .navigation-scroll__item {
    transform: translateY(30%); }
    .navigation-scroll__item--left {
      text-align: left; }
    .navigation-scroll__item--center {
      text-align: center; }
    .navigation-scroll__item--right {
      text-align: right; }
  .navigation-scroll__border {
    height: 0rem; }
  .navigation-scroll__logo {
    transform: translateY(-30%);
    height: 5rem;
    margin: 0 auto;
    display: block;
    background-image: url("../../img/LogoScroll.png");
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center; }

.preloader {
  background-color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
  margin: 0 auto; }

.preloader .preloader-circle {
  width: 100px;
  height: 100px;
  position: relative;
  border-style: solid;
  border-width: 3px;
  border-top-color: #ff003c;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  z-index: 10;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  box-shadow: 0 1px 5px 0 rgba(35, 181, 185, 0.15);
  background-color: #ffffff;
  -webkit-animation: zoom 2000ms infinite ease;
  animation: zoom 2000ms infinite ease;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.preloader .preloader-circle2 {
  border-top-color: #0078ff; }

.preloader .preloader-img {
  position: absolute;
  top: 50%;
  z-index: 200;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  display: inline-block;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 6px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s; }

.preloader .preloader-img img {
  max-width: 55px; }

.preloader .pere-text strong {
  font-weight: 800;
  color: #dca73a;
  text-transform: uppercase; }

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; } }

@keyframes zoom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: .6s;
    -o-transition: .6s;
    transition: .6s; } }

.button {
  background: #FFFFFF;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 300;
  margin: auto;
  border: 1px solid #FFFFFF;
  overflow: hidden;
  display: inline-block;
  transition: all 0.3s;
  box-shadow: 0px 3px 0px #FFFFFF;
  border-radius: 10rem;
  text-transform: uppercase; }
  .button--grey {
    background-color: #f4f4f4; }
  .button--big {
    width: 30rem;
    height: 5.5rem;
    padding: 2rem 0; }
  .button:hover, .button:active {
    text-decoration: none;
    border-color: #f4f4f4;
    background: #f4f4f4;
    box-shadow: 0 3px 0 #f4f4f4; }
  .button__label {
    display: inline-block;
    position: relative;
    padding-right: 0;
    transition: padding-right 0.3s;
    color: #151515;
    font-weight: 400;
    letter-spacing: .3rem; }
    .button__label::after {
      content: "";
      position: absolute;
      right: -50px;
      opacity: 0;
      top: 22%;
      width: 10px;
      height: 10px;
      margin-right: -10px;
      background: rgba(0, 0, 0, 0);
      border: 3px solid #404040;
      border-top: none;
      border-right: none;
      transition: opacity 0.3s, top 0.3s, right 0.3s;
      transform: rotate(225deg); }
  .button:hover .button__label,
  .button:active .button__label {
    padding-right: 30px; }
  .button:hover .button__label::after,
  .button:active .button__label::after {
    transition: 0.5s, top 0.5s, right 0.5s;
    opacity: 1;
    right: 10px;
    top: 22%; }

.logo {
  width: 10rem;
  height: 10rem;
  margin: 0 auto;
  display: block;
  margin-top: -2rem;
  margin-bottom: 3rem; }

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.card-description {
  border-left: 1px solid #ddd; }
  .card-description__img {
    height: 40rem;
    width: 40rem;
    display: block;
    margin: 0 auto; }
  .card-description__title {
    font-family: "Merriweather", serif;
    padding: 2.4rem 2.4rem 0 2.4rem;
    letter-spacing: 0.15rem; }
  .card-description__text {
    font-family: "Merriweather", serif;
    padding: 1.2rem 2.4rem 0 2.4rem;
    letter-spacing: 0.1rem; }

.section-about {
  background-image: url("../../img/104368672_599203777375105_7326708956631253840_n.jpg");
  height: 100vh;
  top: 0px;
  left: 0px;
  display: block;
  position: relative;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-position: center center;
  background-size: cover; }

.section-contact {
  background-image: url("../../img/104657226_261604684935106_6184112725521344746_n.jpg");
  display: block;
  position: relative;
  height: 100vh;
  text-align: center;
  position: relative;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-position: center center;
  background-size: cover; }

.section-introduce {
  margin-top: 20vh;
  margin-bottom: 10vh;
  margin-left: 8%;
  margin-right: 8%;
  padding: 7% 0; }
  .section-introduce__button {
    display: block;
    margin: 4.6rem auto 0;
    text-align: center; }

@media only screen and (max-width: 1025px) {
  .myVideo {
    transform: scale(6);
    background-position: center center;
    background-size: cover; } }

@media only screen and (max-height: 813px) {
  .myVideo {
    transform: scale(8); } }

@media only screen and (max-width: 415px) {
  .navigation, .navigation-scroll {
    width: 38rem;
    height: 9%;
    font-size: 1.5rem;
    padding: 0 1.5rem !important; }
  .heading-primary {
    font-size: 4rem; } }

.full-width-screen {
  width: 100% !important; }
